.clearfix
  //%products-index-filters
  .gtr-b-sm(ng-repeat="product in products track by product.id" product-item)
    .box-tickets.bg-white
      .gtr-hor-sm.gtr-ver-sm
        .row
          .tbl
            .tbl-cell.cell-3.align-top.gtr-hor
              %a(ng-if="product.pictures.length" ng-href='/#/products/{{::product.id}}') 
                %img.cell-12(ng-src="{{product.pictures[0]}}")
            .tbl-cell.cell-9.align-top.gtr-hor
              .text-line
                %a(ng-href='/#/catalogs/{{::product.category.catalog.id}}') {{::product.category.catalog.name}}
                \/
                %a(ng-href='/#/categories/{{::product.category.id}}') {{::product.category.name}}
                \/
                %a(ng-href='/#/products/{{::product.id}}') 
                  {{::product.name}}
              .gtr-b-sm.text-sm(ng-repeat="sub in product.sub_products track by sub.id")
                .smile.label.label-default.align-middle {{sub.sku}}
                .smile.align-middle(ng-bind-html="sub.name")
                %i.smile.align-middle.color-green ({{sub.price | currency}})

  %pagination(page="page" count="count" per="per")
