!!!
%html(ng-app="app")
  %head
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script(type="text/javascript")
      window.anonimusUser = #{!user_signed_in?}
  %body(ng-app="app" ng-controller="mainCtrl" ng-class="{'sidebar-close': !$root.user.id}")
    .main
      %header(ng-show="$root.ready")
      .tbl
        %sidebar(ng-if="$root.user.id")
        .tbl-cell(ng-class="alignMiddle ? 'align-middle' : 'align-top'" style="overflow: auto;")
          .tbl(ng-show="$root.waiting || !$root.ready" spinner)
          %span.content(ng-show="!$parent.waiting")
            .gtr-hor.gtr-ver(ng-view)
